body {
 
  font-family: 'Inter', sans-serif;
  background: #121212; 
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



.container {
  background:  #1e1e1e;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  width: 80%;
  max-width: 900px;
  text-align: center;
  animation: fadeIn 0.8s ease;
}

h1 {
  color: #0078ff;
  margin-bottom: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

input, select {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: #0078ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #005fcc;
}

#result {
  margin-top: 30px;
  animation: fadeIn 0.8s ease;
}

.hero-result {
  font-size: 60px;
  font-weight: bold;
  color: #2ecc71;
  margin: 10px 0;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
